# Analyse et nettoyage des données

In [1]:
import pandas as pd

## Importation et analyses rapides des dataframes

### A) Le dataset de Kaggle

In [3]:
df =  pd.read_csv('../storage/emotions_kaggle.csv')
df.head()

                                                Text  Emotion
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [4]:
df.describe()

                            Text Emotion
count                      21459   21459
unique                     21405       6
top     i feel so tortured by it   happy
freq                           2    7029

On retire les doublons

In [8]:
df=df.drop_duplicates(subset= ['Text'])
df.describe()

                           Text Emotion
count                     21405   21405
unique                    21405       6
top     i didnt feel humiliated   happy
freq                          1    7008

Renommer les colonnes pour faciliter les manipulatiosn des donnés futures

In [10]:
#rename columns :
df.rename(columns={'Text':'text', 'Emotion':'target'}, inplace=True)
df.head()

                                                text   target
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger