In [86]:
import pandas as pd
import numpy as np

In [87]:
df = pd.read_csv("data.csv")

In [88]:
df["user_id"] = np.random.randint(5, size=len(df)) + 1

In [89]:
liste_people = [
    ["Robert","Pattinson","robert.pattinson@gmail.com","15-04-1968"],
    ["Patricia","Meurey","patricia.meurey@gmail.com","26-08-1987"],
    ["John","Doe","john.doe@gmail.com","28-03-1950"],
    ["Patrick","Smith","patrick.smith@gmail.com","05-11-1995"],
    ["Catherine","Potin","catherine.potin@gmail.com","12-01-1972"]
    ]

In [90]:
df["user"] = [liste_people[df.loc[i, "user_id"]-1] for i in range(len(df))]

In [91]:
df["user"]

0        [Patricia, Meurey, patricia.meurey@gmail.com, ...
1              [John, Doe, john.doe@gmail.com, 28-03-1950]
2        [Catherine, Potin, catherine.potin@gmail.com, ...
3        [Catherine, Potin, catherine.potin@gmail.com, ...
4              [John, Doe, john.doe@gmail.com, 28-03-1950]
                               ...
21454          [John, Doe, john.doe@gmail.com, 28-03-1950]
21455    [Patricia, Meurey, patricia.meurey@gmail.com, ...
21456    [Catherine, Potin, catherine.potin@gmail.com, ...
21457    [Patrick, Smith, patrick.smith@gmail.com, 05-1...
21458    [Patricia, Meurey, patricia.meurey@gmail.com, ...
Name: user, Length: 21459, dtype: object

In [92]:
df["first_name"] = [item[0] for item in df["user"]]
df["last_name"] = [item[1] for item in df["user"]]
df["email"] = [item[2] for item in df["user"]]
df["birthdate"] = [item[3] for item in df["user"]]

In [94]:
df.rename(columns={"Text":"text"}, inplace=True)
df.drop(["Emotion","user"], axis=1, inplace=True)

In [95]:
user_df = df[["first_name", "last_name","email", "birthdate"]].drop_duplicates()

In [96]:
user_df = user_df.reset_index().drop(["index"], axis=1).reset_index().rename(columns={"index":"id"})

In [101]:
user_df["id"] +=1

   id first_name  last_name                       email   birthdate
0   0   Patricia     Meurey   patricia.meurey@gmail.com  26-08-1987
1   1       John        Doe          john.doe@gmail.com  28-03-1950
2   2  Catherine      Potin   catherine.potin@gmail.com  12-01-1972
3   3    Patrick      Smith     patrick.smith@gmail.com  05-11-1995
4   4     Robert  Pattinson  robert.pattinson@gmail.com  15-04-1968

In [97]:
text_df = df[["user_id","text"]].reset_index().rename(columns={"index":"id"})
text_df["id"] += 1

In [98]:
def random_datetimes_or_dates(start, end, n): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)

In [99]:
text_df["publication_date"] = random_datetimes_or_dates(pd.to_datetime('2022-03-01'),pd.to_datetime('2022-06-01'), len(text_df))

In [100]:
text_df.to_csv("text.csv",sep='|', index=False, header=False)
user_df.to_csv("user.csv",sep='|', index=False, header=False)