In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv("data.csv")

In [20]:
df["user_id"] = np.random.randint(5, size=len(df)) + 1

In [21]:
liste_people = [
    ["Robert","Pattinson","robert.pattinson@gmail.com","15-04-1968"],
    ["Patricia","Meurey","patricia.meurey@gmail.com","26-08-1987"],
    ["John","Doe","john.doe@gmail.com","28-03-1950"],
    ["Patrick","Smith","patrick.smith@gmail.com","05-11-1995"],
    ["Catherine","Potin","catherine.potin@gmail.com","12-01-1972"]
    ]

In [22]:
df["user"] = [liste_people[df.loc[i, "user_id"]-1] for i in range(len(df))]

In [23]:
df["user"]

0        [Robert, Pattinson, robert.pattinson@gmail.com...
1        [Robert, Pattinson, robert.pattinson@gmail.com...
2        [Patrick, Smith, patrick.smith@gmail.com, 05-1...
3        [Patricia, Meurey, patricia.meurey@gmail.com, ...
4        [Catherine, Potin, catherine.potin@gmail.com, ...
                               ...
21454          [John, Doe, john.doe@gmail.com, 28-03-1950]
21455    [Robert, Pattinson, robert.pattinson@gmail.com...
21456          [John, Doe, john.doe@gmail.com, 28-03-1950]
21457    [Catherine, Potin, catherine.potin@gmail.com, ...
21458          [John, Doe, john.doe@gmail.com, 28-03-1950]
Name: user, Length: 21459, dtype: object

In [24]:
df["first_name"] = [item[0] for item in df["user"]]
df["last_name"] = [item[1] for item in df["user"]]
df["email"] = [item[2] for item in df["user"]]
df["birthdate"] = [item[3] for item in df["user"]]

In [25]:
df.rename(columns={"Text":"text"}, inplace=True)
df.drop(["Emotion","user"], axis=1, inplace=True)

In [26]:
user_df = df[["first_name", "last_name","email", "birthdate"]].drop_duplicates()

In [27]:
user_df = user_df.reset_index().drop(["index"], axis=1).reset_index().rename(columns={"index":"id"})

In [28]:
user_df["id"] +=1

In [29]:
text_df = df[["user_id","text"]].reset_index().rename(columns={"index":"id"})
text_df["id"] += 1

In [30]:
text_df

          id  user_id                                               text
0          1        1                            i didnt feel humiliated
1          2        1  i can go from feeling so hopeless to so damned...
2          3        4   im grabbing a minute to post i feel greedy wrong
3          4        2  i am ever feeling nostalgic about the fireplac...
4          5        5                               i am feeling grouchy
...      ...      ...                                                ...
21454  21455        3               Melissa stared at her friend in dism
21455  21456        1  Successive state elections have seen the gover...
21456  21457        3               Vincent was irritated but not dismay
21457  21458        5  Kendall-Hume turned back to face the dismayed ...
21458  21459        3                    I am dismayed , but not surpris

[21459 rows x 3 columns]

In [31]:
def random_datetimes_or_dates(start, end, n): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)

In [32]:
text_df["publication_date"] = random_datetimes_or_dates(pd.to_datetime('2022-03-01'),pd.to_datetime('2022-06-01'), len(text_df))

In [33]:
text_df

,id,user_id,text,publication_date
0,1,1,i didnt feel humiliated,2022-04-21
1,2,1,i can go from feeling so hopeless to so damned...,2022-04-07
2,3,4,im grabbing a minute to post i feel greedy wrong,2022-04-06
3,4,2,i am ever feeling nostalgic about the fireplac...,2022-03-02
4,5,5,i am feeling grouchy,2022-04-30
...,...,...,...,...
21454,21455,3,Melissa stared at her friend in dism,2022-03-30
21455,21456,1,Successive state elections have seen the gover...,2022-03-10
21456,21457,3,Vincent was irritated but not dismay,2022-04-29
21457,21458,5,Kendall-Hume turned back to face the dismayed ...,2022-05-01
21458,21459,3,"I am dismayed , but not surpris",2022-04-28

In [34]:
text_df.to_csv("text.csv",sep='|', index=False, header=False)
user_df.to_csv("user.csv",sep='|', index=False, header=False)